*{margin: 0; padding: 0;} 
html, body{
	width: 100%;
	height: 100%;

}
body{
	background-image: url(3.jpg);
	background-size: cover;

}

.motkhoi{
	height: 100%;
	width: 20%;
	position: relative;
	overflow: hidden;
	float: left;
}
.motkhoi .nenden{
	position: absolute;
	z-index: 1;
	top:0px;
	left: 0px;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	display: block;


	opacity: 0;
	transition: 0.4s;
}
.motkhoi .chu{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 0px;
	font-family: 'segoe ui light';
	font-size: 30px;
	color: white;
	width: 100%;
	text-align: center;
	



}

.motkhoi .nut{
	position: absolute;
	z-index: 3;
	top:50%;
	left: 50%;

	display: inline;
	background: #366676;
	color: white;
	padding: 9px 16px ;
	border-radius: 20px;
	width: 100px;
	text-align: center;
	margin-left: -50px;

	opacity: 0;
	transition: 0.4s;

}

.motkhoi .text{
	position: absolute;
	z-index: 4;
	bottom:-100px;
	left: 0px;
	padding: 20px;
	text-align: center;
	color: white;
	width: 100%;
	opacity: 0;
	transition: 0.4s;

}


.motkhoi:hover .nenden{
	opacity: 1;
}
.motkhoi:hover .nut{ 
	opacity: 1; 
	top:60%; 
}


.motkhoi:hover .text{
	bottom: 0;
	opacity: 1;
	
}