*{
    margin: 0;
    padding: 0;
}

i:hover {
    cursor: pointer;
}

p.phai {
    float: right!important;
    margin: 0px;
    padding: 0px;
}

footer.container-fluid {
    background: #f0f0f0;
    height: 100px;
}

footer.container-fluid p {
    float: left;
    color: #000000;
    padding-top: 40px;
    margin-right: 20px;
}

button.btn.btn-outline-danger {
    margin-top: 165px;
    color: #626262;
    border-radius: 0px;
    font-size: 20px;
    border-color: #626262;
    width: 164px;
    height: 60px;
    margin-left: -82px;
    position: absolute;
    left: 50%;
}

button.btn.btn-outline-danger:hover {
    background-color: #626262;
    color: white;
}

.col-md-6 {padding: 0;}

.item {
    max-width: 422px;
    height: auto;
    display: block;
    padding: 0px;
}

.thumbnail {
}

.row {
    margin-left: 80px;
    margin-right: 20px;
}

.row.btn.container {}

.row.btn.container {
    margin: 0px;
    height: 100px;
    width: 1062px;
    position: relative;
    margin-bottom: 1366px;
}

p.lorem {
    margin-top: 40px;
}
.td1{
    
    text-transform: uppercase;
    color: #b4ad9e;
}

.tentd {
    margin: 32px 0px;
}
p.Leaveacomment {
    margin-top: 55px;
    margin-bottom: 130px;
}

.description {
    margin: 100px 80px;
}

p.photodiary {
    text-transform: uppercase;
    font-family: Ubuntu-Light;
    color: #b4ad9e;
}


.navbar-nav.ml-auto a.nav-item.nav-link {
    text-transform: uppercase;
    margin: 25px;
}

div#navbarNavAltMarkup .navbar-nav.ml-auto a.nav-item.nav-link:nth-last-child(1){
margin-right: 0px;
padding-right:0px;
}
h3 {
    margin-bottom: 40px;
}
.row {
    margin-bottom: 128px;
}

a.navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Inconsolata-Regular;
}
section.container-fluid {
    background: #f0f0f0;
    height: 288px;
    position: relative;
}

nav.navbar.navbar-expand-lg.navbar-light {
    margin-top: 15px;
    margin-bottom: 37px;
}
h1.signup{
    padding-top: 75px;
    text-align: center;
}

input[type="text"] {
    border: none;
    text-align: left;
    width: 400px;
    background-color: #f0f0f0;
    border-bottom: solid 1px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position-x: right;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
}
.row.cuoi{
    margin-top: 100px;
}
@font-face {

font-family:Inconsolata-Regular;
src:url(‘../fonts/Inconsolata-Regular.ttf’) format(‘truetype’),
font-weight:normal;
font-style:normal;

}@font-face {

font-family:PlayfairDisplay-Regular;
src:url(‘.../fonts/PlayfairDisplay-Regular.ttf’) format(‘truetype’),
font-weight:normal;
font-style:normal;

}
}@font-face {

font-family:Ubuntu-Light;
src:url(‘./fonts/Ubuntu-Light.ttf’) format(‘truetype’),
font-weight:normal;
font-style:normal;

}
body{
font-family:PlayfairDisplay-Regular;
font-size: 14px;
color: #626262;
}

@media (min-width: 1200px){
    .container{
        width: 1060px;
        padding: 0px;
    }
}