*{margin: 0; padding: 0;} 
.tdto{
	font-family: font-family: 'Kanit', sans-serif;
	text-decoration: none;
	font-weight: 500;
	color: #00bbf3;
	border-left: 5px solid #00bbf3;
	padding-left: 6px;

}
.trai{
	width: 342px;
	height: 450px;
	background-color: #F6F6F6;
	float: left;

}
.trai img{
	width: 340px;
}
.trai a.tdtrai{
	font-weight: ;
	color: #004f8b;
	text-decoration: none;
	font-family: 'Kanit',sans-serif;
	font-size: 19px;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	line-height: 21px;

}
.trai p{
	font-family: tahoma;
	font-size: 13px;
	color: #414141;
	padding: 0 15px;
}

.phai{
	width: 	360px;
	float: left;
	margin-left: 15px;
}
.mottin{
	width: 166px;
	height: 220px;
	float: left;
	margin-right: 14px;
	margin-bottom: 10px;
}
.mottin img{
	width: 166px;

}
a.tdphai{
	text-decoration: none;
	color: black;
	font-family: tahoma;
	font-size: 13px;
	font-weight: bold;
}