*{margin: 0; padding: 0;} 
.tren{
	width: 700px;
	height: 40px;
	border-top: 1px solid gray;
	padding-top: 13px;
	margin: auto;
	margin-top: 100px;

}
a.xt{
	float: right;
	margin-top: -43px;
	text-decoration: none;
	color: gray;
	font-family: tahoma;
	font-size: 12px;
	font-style: italic;

}
a.xt:hover{
	color: lightblue;
}
a.tdto{
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-family: tahoma;
	font-weight: bold;
	font-size: 19px;
	color: #E75280;
	padding-bottom: 15px;

	background-image: url(041.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.icon{
	width: 700px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
}
._1icon{
	width: 50px;
	height: 70px;
	display: inline-block;
}
._1icon a.chuaicon{
	width: 29px;
	height: 50px;
	display: inline-block;
	background-image: url(nhieu.png);
	background-position: 59px -422px;
}
._1icon:hover a.chuaicon{

	background-position: 59px -511px;
}
.linkicon{
	text-decoration: none;
	font-family: tahoma;
	font-size: 11px;
	color: gray;

}
._1icon:hover a.linkicon{
	color: lightblue;
}
/*css cho khoi 3 tin*/
._1tin{
	width: 220px;
	height: 290px;
	margin-right: 20px;
	float: left;

}
._1tin img{
	width: 220px;
}
._3tin{
	width: 700px;
	margin: auto;
}
._1tin:nth-child(3){
	margin-right: 0px;
}
._1tin a{
	text-decoration: none;
	font-family: tahoma;
	font-weight: bold;
	font-size: 14px;
	color: black;
	display: block;
	padding: 7px 0;
}
._1tin p{
	margin: 0;
	padding: 0;
	font-family: tahoma;
	font-size: 13px;
	color: gray;

}
.motkhoimarry{
	overflow: hidden;
}