*{margin: 0; padding: 0;} 
.top {
	background-image:url(images/1.jpg);
	background-size:cover;
	height:700px;
}
.mtren {
	background:transparent;
}
a.logo {
	font-family: 'Roboto Slab', serif;
	font-size: 26px;
	background:#ec6952;
	padding: 20px 39px;
	position: relative;
	top: -8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-weight: 700;
}

.top .mphai  a.nav-link{
	text-transform: uppercase;
	padding: 28px 23px;
	font-size:13px;
	font-family: 'Roboto Slab', serif;
	color: #e6e6e6;
	transition: 0.4s;
}
.top .mphai  li.active a.nav-link {
	color:#ec6952;	
}
.top .mphai  a.nav-link:hover {
	color:#ec6952;	
}
.top .mphai  a.nav-link.nutsignup {
	border-color:white;
	padding: 12px 22px;
	margin-top: 18px;
}
.top .mphai  a.nav-link.nutsignup:hover {
	background:#ec6952;
	border-color:#ec6952;
	color:white;
}

/* css cho phan banner*/
.banner h1 {
    color: #dbdbdb;
    padding-top: 253px;
}
.banner p {
    color: gray;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 48px;
}
.banner a {
	font-family: "roboto slab",serif;font-size: 19px;font-weight: 700;padding: 14px 60px;
	background: #ec6952;
}

@media (max-width:576px) {
	*{}

	.banner h1 {
	    padding-top: 125px;
	    font-size: 37px;
	}

	.top {
	    height: 596px;
	}
	a.logo {
		width:200px;
		top:-15px;
		margin-left: 58px;
		text-align: center;
	}
	.mphai {
		background:#253340;
		width:100%;
		padding:15px;
 	}
 	.top .mphai  a.nav-link{
 		padding:10px ;
 	}
}