*{margin: 0; padding: 0;} 
.slide{
	width: 920px;
	height: 690px;
	position: relative;
	overflow: hidden;
	

}
.slide .layer1{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;

}
.slide .layer2{
	position: absolute;
	bottom:  0px;
	left: 0px;
	z-index: 2;
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 20px;


	width: 1400px;

}

.tren{

	width: 920px;
}