*{margin: 0; padding: 0;} 
body{
	background-color: #eee;
}
.khoianh{
	width: 270px;
	height: 340px;
	display: block;
	position: relative;
	background: white;
	text-decoration: none;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.khoianh:nth-child(4n){
	margin-right: 0px;
}
.khoianh img{
	width: 270px;
}
.tieude{
	font-size: 14px;
	color: black;
	padding-left: 12px;
	padding-top: 12px;
	display: block;
}
.tacgia{
	font-size: 11px;
	color: gray;
	display: block;
	padding-left: 12px;

}
.layer2{
	width: 248px;
	height: 20px;
	display: block;
	position: absolute;
	bottom: 0px;
	color: gray;
	z-index: 1;
	padding: 5px 15px;


}
.layer2 .gia{
	float: right;
	color: green;
}
.too{
	width: 1140px;
	margin: auto;
}