*{margin: 0; padding: 0;} 
.banner{
	width: 1120px;
	margin: auto;
}
a.khoivuongnho{
	width: 280px;
	height: 210px;
	background-color: green;
	display: block;
	
	position: relative;

	
	color: white;
	font-weight: bold;
	font-size: 14px;
	font-family: tahoma;

	overflow: hidden;
	float: left;
}
a.khoivuongnho .layer1{
	width: 280px;
}
a.khoivuongnho .layer2{
	width: 280px;
	height: 210px;
	/* background-color: #0000004a; */
	position: absolute;
	z-index: 2;
	top: 0px;
	background-image: -webkit-linear-gradient(top,#ffffff12 50%,#0000009c 100%);

	transition: 0.4s;
}
a.khoivuongnho .layer2:hover{
	opacity: 0;
}
a.khoivuongnho .layer3{/*
	width: 280px;*/
	padding: 8px 13px;
	position: absolute;
	bottom: -50px;
	left: 0px;
	z-index: 3;
	transition: 0.4s;
	overflow: hidden;
}

a.khoivuongnho:hover .layer3{
	bottom: 20px;
	}
	/*to hon*/

a.tohon{
	width: 560px;
	height: 420px;
}

a.khoivuongnho.tohon .layer1{
	width: 560px;
}
a.khoivuongnho.tohon .layer2{
	width: 560px;
	height: 420px;
}
a.khoivuongnho.tohon .layer3{
	font-size: 20px;
}
